<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-icons">local_cafe</mat-icon>
          Coffees
        </ng-template>
        <app-coffees></app-coffees>
      </mat-tab>    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-icons">lunch_dining</mat-icon>
          Sandwiches
        </ng-template>
        Sandwich Content
      </mat-tab>    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="material-icons">bakery_dining</mat-icon>
          Desserts
        </ng-template>
        Dessert Content
      </mat-tab>   
</mat-tab-group>