<!-- BANNER -->
<div class="header_row">
    <div class="header_left">
        <h1>{{title}}</h1>
    </div>
    <div class="header_middle">
        <app-db-connection-status></app-db-connection-status>
    </div>
    <div class="header_right">
        <a routerLink="/help-component" routerLinkActive="active">Help</a>
    </div>
</div>

<!-- TODO: 
    1.) add tab feature w/ routing to different views (coffees, sandwiches, desserts)
    2.) make a simple form for ordering coffees, sandwiches, and desserts
-->


<router-outlet></router-outlet>