<!-- BANNER -->
<div class="header_row">
    <div class="header_left">
        <h1 [routerLink]="" (click)="changeMainContent($event)" id="title">{{title}}</h1>
    </div>
    <div class="header_middle">
        <app-db-connection-status></app-db-connection-status>
    </div>
    <div class="header_right">
        <a routerLink="" (click)="changeMainContent($event)" id="help">Help</a>
    </div>
</div>
  

<!-- TODO: 
    1.) add tab feature w/ routing to different views (coffees, sandwiches, desserts)
    2.) make a simple form for ordering coffees, sandwiches, and desserts
-->

<div *ngIf="showHelp" class="helpContent">
    <app-help></app-help>
</div>

<div *ngIf="showTabs" class="tabsContent">
    <app-tab></app-tab>
</div>

<!--  
<router-outlet></router-outlet>
-->